#contact .card
{
    box-shadow: 0 0 10px 0 #cccccc;
    border: none;
    margin-bottom: 30px;
    background-color: transparent;
    transition: box-shadow 0.3s, transform 0.3s;
    padding: 1rem;
}

#contact .card:hover
{
    box-shadow: 0 0 10px 3px #cccccc;
    transform: scale(1.005);
}

#contact .card .card-body
{
    display: flex;
    justify-content: space-between;
}

#contact .card .card-title
{
    line-height: 1.2;
    margin: auto 0;
    width: 40%;
}

#contact .card p
{
    width: 60%;
    margin-bottom: 0;
}

#contact .card.discord .card-title, .card.twitter p, .card.ticket p
{
    text-align: right;
}

#contact .card i
{
    margin-right: 1rem;
    font-size: 2.5rem;
    vertical-align: middle;
}

#contact .card.ticket
{
    background: #fc7900;
    color: #fff;
}

#contact .card.discord
{
    background: #7289DA;
    color: white;
}

#contact .card.discord .card-body
{
    flex-direction: row-reverse;
}

#contact .card.twitter
{
    background: #1DA1F2;
    color: #fff;
}